<nav
  class="navbar navbar-expand-sm navbar-dark bg-custom"
  style="font-family: sans-serif; background-color: #363940"
>
  <div class="container-fluid">
    <img
      src="https://img.icons8.com/color-glass/48/ffffff/counter-strike.png"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="authService.isLoggedIn">
          <a class="nav-link active" aria-current="page" routerLink="dashboard"
            >Home</a
          >
        </li>

        <li class="nav-item dropdown" *ngIf="authService.isLoggedIn">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Skins
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngIf="authService.isAdmin">
              <a class="dropdown-item" routerLink="addskin">Add skin</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="inventory">Inventory</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <fa-icon [icon]="faUser"></fa-icon>
            <div
              *ngIf="authService.isLoggedIn; then thenBlock; else elseBlock"
            ></div>
            <ng-template #thenBlock> {{ authService.loggedUser }} </ng-template>
            <ng-template #elseBlock> Login </ng-template>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div
              *ngIf="authService.isLoggedIn; then trueBlock; else falseBlock"
            ></div>
            <ng-template #trueBlock>
              <li>
                <a class="dropdown-item" (click)="authService.logout()"
                  >Logout</a
                >
              </li>
            </ng-template>
            <ng-template #falseBlock>
              <li><a class="dropdown-item" routerLink="login">Login</a></li>
            </ng-template>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
